<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
  </head>
  <body>
    <h1 id="heading">&copy;Hatbot</h1>
    <hr />

    <div id="container">
      <div id="chat-area">
        <div id="messages">bisheriger Chat-Content</div>
        <br />
        <!-- test: show latest message -->
        <div id="latest-message">latest message</div>
        <div id="chat-input">
          <form action="/response" method="post" id="form-chat">
            <input
              type="text"
              id="input-message"
              name="message"
              placeholder="Schreibe deine Nachricht!"
            />
            <input type="submit" id="btn-send-message" value="Senden" />
          </form>
        </div>
      </div>
    </div>
    <script>
      var form = document.getElementById("form-chat");
      function noReloadSubmit(event) {
        event.preventDefault();

        const message = document.getElementById("input-message").value;
        if (!message) {
          return;
        }

        fetch("/response", {
          method: "POST",
          body: JSON.stringify({
            message: message,
          }),
          headers: { "Content-type": "application/json; charset=UTF-8" },
        })
          .then((response) => response.json())
          .then((json) => {
            console.log(json);
          });
      }
      form.addEventListener("submit", noReloadSubmit);
    </script>
  </body>
</html>
